@model ChubbReto.Web.Models.CreateAuthorViewModel

@{
    ViewBag.Title = "Crear Autor";
}

<div class="container mt-4">

    <h2>Registrar Autor</h2>
    <hr />

    @using (Html.BeginForm("Create", "Autores", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row mb-2">
            @Html.LabelFor(m => m.NombreCompleto, htmlAttributes: new { @class = "col-md-2 col-form-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.NombreCompleto, new { @class = "form-control", placeholder = "Ingrese nombre completo" })
                @Html.ValidationMessageFor(m => m.NombreCompleto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row mb-2">
            @Html.LabelFor(m => m.FechaDeNacimiento, htmlAttributes: new { @class = "col-md-2 col-form-label" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.FechaDeNacimiento, "{0:yyyy-MM-dd}",
                    new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(m => m.FechaDeNacimiento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row mb-2">
            @Html.LabelFor(m => m.CiudadDeProcedencia, htmlAttributes: new { @class = "col-md-2 col-form-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.CiudadDeProcedencia, new { @class = "form-control", placeholder = "Ciudad de origen" })
                @Html.ValidationMessageFor(m => m.CiudadDeProcedencia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row mb-2">
            @Html.LabelFor(m => m.CorreoElectronico, htmlAttributes: new { @class = "col-md-2 col-form-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.CorreoElectronico, new { @class = "form-control", placeholder = "correo@ejemplo.com", type = "email" })
                @Html.ValidationMessageFor(m => m.CorreoElectronico, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row mt-4">
            <div class="col-md-8 offset-md-2">
                <button type="submit" class="btn btn-primary">
                    Registrar
                </button>

                @Html.ActionLink(
                    "Listado",
                    "Index",
                    "Autores",
                    null,
                    new { @class = "btn btn-secondary ml-2" })
            </div>
        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}